<!DOCTYPE html>
<html ng-app="profile">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/logo.png" type="image/gif">
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap4/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap4/css/bootstrap-reboot.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/fontawesome-all.css" rel="stylesheet" type="text/css">

    <style>
        #profile{
            margin-top: 5vh;
            padding : 2vw;
            box-shadow: 1px 1px 50px silver;
            border-radius: 5px;
        }
        input:enabled{
            border:solid blue 2px;
            background: lightskyblue;
        }
        input:disabled{
            border:none;
            color:black;
        }
        :-ms-input-placeholder{
            color: black;
        }
        ::-webkit-input-placeholder{
            color: black;
        }
        div{
            margin-bottom: 10px;
        }
        @media screen and (max-width: 1000px) {
            #profile_navbar_empty{
                display : none;
            }
        }
    </style>
</head>
<body>
    <input type="hidden" id="user_name" value=<%=user.username%>>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" role="navigation" style="margin-bottom: 0">
            <p class="navbar-brand" style="color: black"><a href="/dashboard"><i class="fas fa-arrow-left"></i></a><img src="../img/logo.png" alt="Herbeat logo" style="width: 30px; height: 30px;"> HerBeat</p>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="container" id="profile_navbar_empty">
                
            </div>            
            <div class="btn-group float-right" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i> 
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="/dashboard" ng-show="profile_visible"><i class="fas fa-dash fa-tachometer-alt"></i> Dashboard</a>
                    <a class="dropdown-item" href="/profile"><i class="fas fa-user fa-fw"></i> User Profile</a>
                    <a class="dropdown-item" href="/settings"><i class="fas fa-cogs fa-fw"></i> Settings</a>
                    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                </div>
            </div>
        </nav>
    <div class="container" id="profile"  ng-controller="profileCtrl">
        <h1 style="text-align: center"> User Profile</h1>
        <div class="container">
            
            <div>
                Username : <input type="text" ng-model="username" value="{{username}}" placeholder="{{username}}" disabled>
            </div>
            
            <div>
                <!-- <p ng-show="nameShow"><%=user.full_name%> </p> -->
                <form ng-submit="change_fullname();">
                    Name : <a href=""  ng-click="nameShow=false;"><input class="dis" type="text" ng-model="name" ng-disabled="nameShow" placeholder="<%=user.full_name%>" minlength="4"></a>
                </form>
            </div>
            
            <div>
                <!-- <p ng-show="emailShow"><%=user.email%></p> -->
                <form ng-submit="change_email();">
                    E-mail : <a href=""  ng-click="emailShow=false;"><input class="dis" type="text" ng-model="email" ng-disabled="emailShow" placeholder="<%=user.email%>" minlength="4"></a>                    
                </form>
            </div>
            
            <div>
                <!-- <p ng-show="numberShow"><%=user.number%></p> -->
                <form ng-submit="change_number();">
                    Contact Number : <a href=""  ng-click="numberShow=false;"><input class="dis" type="text" ng-model="number" ng-disabled="numberShow" placeholder="<%=user.number%>" minlength="10"></a>
                </form>
            </div>
        </div>
    </div>
<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap4/js/bootstrap.min.js"></script>
<!--Angular scripts-->
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
<!-- Controller -->
<script src="../controllers/profileController.js"></script>
</body>
</html>