<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Herbeat App</title>
  <!-- Bootstrap core CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div class="container">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">Herbeat App</a>
  </nav>
	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- SIGNUP FORM -->
	<div class="form-container">
            <form action="/signup" method="post">
                    <legend>Please Signup</legend>
                          <div class="form-group row">
                            <label for="loginid" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="username" placeholder="Username" name="username" minlength="4" maxlength="12" required autofocus>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="password" placeholder="Password" name="password" required minlength="4" maxlength="32">
                            </div>
						  </div>
						  <div class="form-group row">
								<label for="password2" class="col-sm-2 col-form-label">Re-enter Password</label>
								<div class="col-sm-10">
								  <input type="password" class="form-control" id="password2" placeholder="Re-enter Password" name="password2" onkeyup='check();' required>
								</div>
								<span id='confirm_message' class="label label-info" style="padding-left: 20px"></span>
						  </div>
						  
                              <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
            <div class="divider">
                <span>OR</span>
            </div>
            <div>
                <form action="/signup/facebook" method="GET">
                    <button class="loginBtn loginBtn--facebook" type="submit"> SignUp with Facebook </button>
                </form>

                <form action="/signup/twitter" method="GET">
                    <button class="loginBtn loginBtn--twitter" type="submit"> SignUp with Twitter </button>
                </form>

                <form action="/signup/google" method="GET">
                    <button class="loginBtn loginBtn--google" type="submit"> SignUp with Google</button>
                </form>
            <hr>
            <p>Already have an account? <a href="/login">Login</a> or go <a href="/">Home</a></p>
            </div>
    </div>
</div>
<script>
		var check = function() {
		  if (document.getElementById('password').value == document.getElementById('password2').value) {
				  document.getElementById('confirm_message').style.color = 'green';
				  document.getElementById('password2').style.borderColor = 'green';
				  document.getElementById('confirm_message').innerHTML = '<i class="fa fa-check"></i>Passwords match.';
		  } else {
			document.getElementById('confirm_message').style.color = 'red';
			document.getElementById('password2').style.borderColor = 'red';
			document.getElementById('confirm_message').innerHTML = '<i class="fa fa-times"></i>Passwords do not match!!';
		  }
		}
  </script>
</body>
</html>
