<!DOCTYPE html>
<html lang="en" ng-app="forgot">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
   
  <meta name="theme-color" content="#c13f10">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Herbeat">
  <link rel="apple-touch-icon" href="../img/icons/logo_96.png">
  
 <!-- Manifest link -->
  <link rel="manifest" href="../manifest.json">
  <link rel="icon" href="../img/icons/logo_96.png" type="image/png">
  <title>Herbeat App</title>
  <!-- Bootstrap core CSS-->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" rel="stylesheet"> -->
  <link href="../vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../vendor/font-awesome/css/fontawesome-all.css" rel="stylesheet" type="text/css">
  
</head>
<style>
    .form-container{
        margin:80px 2vw 2vw 2vw;
        padding : 2vw;
        box-shadow: 1px 1px 50px silver;
        border-radius: 10px;
    }
    @media screen and (max-width: 1000px) {
        * {
            font-size: 3vw;
        }
    }
</style>
<body class="fixed-nav sticky-footer bg-light" id="page-top">
<div class="container">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><i class="fas fa-arrow-left"></i><img src="../img/logo.png" alt="Herbeat logo" style="width: 30px; height: 30px;">  Herbeat App</a>
  </nav>
	<!-- RESET PASSWORD FORM -->
	<div class="form-container" ng-controller="forgotCtrl">
            <!-- <form action="" method=""> -->
                <h3 style="text-align: center">Recover Password</h3 style="text-align: center">
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="username" placeholder="Username" name="username" minlength="4" maxlength="32" autofocus>
                    </div>
                </div>
                <center>--OR--</center>
                <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" ng-model="email" placeholder="Email" name="email">
                        </div>
                    </div>    
                <div class="form-group row">
                        <label for="loginid" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                                <!-- add a funciton to send otp to email or phone -->
                        <button class="btn btn-primary" ng-click="confirm()">Confirm</button> 
                        <span ng-model="search_message" class="label label-info" style="padding-left: 20px">{{search_message}}</span>
                    </div>  
                </div>
            <!-- </form> -->
            <!-- <form action=""> -->
                <!-- <div class="form-group row">
                <label for="loginid" class="col-sm-2 col-form-label">OTP</label> -->
                <!-- <div class="col-sm-10">
                    <input type="number" class="form-control" id="otp" placeholder="OTP" name="otp" size="6" required autofocus>
                </div> 
                </div>-->
                <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="newpassword" ng-model="password" placeholder="New Password" name="newpassword" minlength="4" maxlength="32" ng-disabled="p1">
                </div>
                </div>
                <div class="form-group row">
                    <label for="password2" class="col-sm-2 col-form-label">Re-enter new Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newpassword2" ng-model="repassword" placeholder="Re-enter new Password" name="newpassword2" onkeyup='check();' ng-disabled="p2">
                    </div>
                    <span id='confirm_message' class="label label-info" style="padding-left: 20px"></span>
                    
                </div>
                <a href="/"><button class="btn btn-secondary">Cancel</button></a>
                <button class="btn btn-danger float-right" type="submit" ng-click="resetpassword()" class="btn btn-primary" ng-disabled="resetbutton">Reset password</button>
            <!-- </form> -->
    </div>
</div>
    <script>
            var check = function() {
            if (document.getElementById('newpassword').value == document.getElementById('newpassword2').value) {
                    document.getElementById('confirm_message').style.color = 'green';
                    document.getElementById('newpassword2').style.borderColor = 'green';
                    document.getElementById('confirm_message').innerHTML = '<i class="fa fa-check"></i>Passwords match.';
            } else {
                document.getElementById('confirm_message').style.color = 'red';
                document.getElementById('newpassword2').style.borderColor = 'red';
                document.getElementById('confirm_message').innerHTML = '<i class="fa fa-times"></i>Passwords do not match!!';
            }
            }
    </script>
    <!--Angular scripts-->
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>

    <script src="./controllers/forgotController.js"></script>
</body>
</html>
